<div id="wrap">
  <div id="header"><h1>Fall of Princes Books</h1></div>
  <div id="main">
    <p>
      <h2>Import Books</h2>
      <%= form_tag import_books_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" %>
      <% end %>
    </p>
    <p>
      Download:
      <%= link_to "CSV", books_path(format: "csv") %> <!--|
       <%= link_to "Excel", books_path(format: "xls") %> -->
    </p>
    <table>
      <tbody>
        <tr>
          <td align="center">Book</td>
          <td align="center">Number of Lines</td>
        </tr>
        <tr/>
        <tr/>
        <% @books.each do |book| %>
          <tr>
            <td align="center"><%= book[:name] %></td>
            <td align="center"><%= book[:last_line] %></td>
    <!--         <td><%= link_to 'Show', book %></td>
            <td><%= link_to 'Edit', edit_book_path(book) %></td>
            <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
        <tr/>
        <% end %>
      </tbody>
    </table>
  </div>
</div>